@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<hr />
<p>
    Desenvolvemos um CRUD para o cadastro de fotografias, permitindo que fotógrafos registrem suas fotos com descrição e data, utilizando C# ASP.NET e MongoDB.
</p>
<p>
    Integrantes do grupo:<br />
    Arthur Coelho de Souza<br />
    Gustavo Milagres da Costa<br />
    Maria Luiza Ribeiro Ruas<br />
    Melissa Duque Baía
</p>