@model PortifolioFotografia.Models.Fotografia

@{
    ViewData["Title"] = "AtualizarFotografia";
}

<h1>AtualizarFotografia</h1>

<h4>Fotografia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AtualizarFotografia">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input asp-for="idFotografia" class="form-control" hidden/>
            
            <div class="form-group">
                <label asp-for="nomeFotografo" class="control-label"></label>
                <input asp-for="nomeFotografo" class="form-control" />
                <span asp-validation-for="nomeFotografo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricaoFotografia" class="control-label"></label>
                <input asp-for="descricaoFotografia" class="form-control" />
                <span asp-validation-for="descricaoFotografia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input type="date" asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>

